body {
  margin: 10em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-lg {
    background-color: #fefefe;
    padding: 10px;
}

.quote {
  margin: 0;
  background: #eee;
  padding: 1em;
  border-radius: 1em;
}

.quote figcaption,
.quote blockquote {
  margin: 1em;
}

.center-image 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
}

.member-photo
{
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
  border: 5px solid white;
  border-radius: 1%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

img {
    border: 5px solid #555;
    border-radius: 1%;
    margin: 10px;
}

img.align-left {
  float: left;    
  margin: 0 15px 0 0;
}

img.align-right {
  float: right;    
  margin: 0 15px 0 0;
}

section {
  padding: 40px;
  clear: both;
}

table {
  background-color: #000000;
  color: #ffffff;
}

table th, td {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

table td {
  color: #000000;
}

tbody tr:nth-child(odd) {
  background-color: #bbbbbb;
}

tbody tr:nth-child(even) {
  background-color: #cccccc;
}

header {
  border: 1px dotted black;
  height: 100px;
  margin: 15px;
  background-color: #ffffdd;
}

main {
  border: 1px dotted black;
  margin: 15px;
}

figure {
  float: left;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
}

h2 {
  clear: both;
}

section h2 {
  clear: none;
}